<% include ../partials/_header %>

<div class="row">
  <div class="col-auto mr-auto">
    <h1>Edit Review for <%=review.location%></h1>
  </div>
</div>
<div class="row">
  <div class="col-auto mr-auto">
    <form action="/reviews<%=review.id%>?_method=PUT"" method="POST">
      <select name="campsiteId">
        <% for (let i = 0; i < campsites.length; i++) { %>
          <option value="<%=campsites[i].id%>"
            <% if(campsites[i]._id.toString() === reviewCampsite._id.toString()) { %>
            selected
            <% } %>
          ><%=campsites[i].location%></option>
        <% } %>
      </select>
      <br>
      <br>
      <textarea class="form-control" id="reviewBody" rows="5" name="body" value="review.body"></textarea>
      <br>
      <button class="btn btn-primary" type="submit">Update Review</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-auto mr-auto">
    <form action="/reviews/<%=review.id%>?_method=DELETE" method="POST">
      <button type="submit">Delete Reveiw</button>
    </form>
  </div>
</div>

<% include ../partials/_footer %>